/* 1135px */
@media (max-width: 1135px)
{
  .second-menu {
    display: none;
  }
}

/* 770px */
@media (max-width: 770px)
{
  .header-first {
    display: none;
  }

  .alternative-second-menu {
    display: flex;
  }

  .header-second ul {
    display: none;
  }

  .navbar-logo {
    display: flex;
  }
}