/* 1135px */
@media (max-width: 1135px) {
  .second-menu {
    display: none;
  }

  .small-first-container {
    padding: 0 20px;
  }
}

/* 1020px */
@media (max-width: 1020px) {
  .first-cover-logo {
    display: none;
  }

  .first-cover-link {
    justify-content: flex-end;
  }

  .side-cover-title {
    font-size: 18px;
  }

  .cover {
    height: 300px;
  }

  .latest-news-box {
    width: 30%;
  }

  .third-container-elements{
    width:100%;
  }
}

/* 770px */
@media (max-width: 770px) {
  .header-first {
    display: none;
  }

  .alternative-second-menu {
    display: flex;
  }

  .header-second ul {
    display: none;
  }

  .navbar-logo {
    display: flex;
  }

  .cover {
    height: 450px;
  }

  .first-cover-title {
    font-size: 18px;
  }

  .first-cover {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .second-cover {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .third-cover {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .latest-news-box {
    width: 100%;
  }

  .news-thumb {
    width: 80px;
    height: 80px;
  }

  .separator {
    display: none;
  }

  .interactive {
    display: block;
  }

  .container-header {
    flex-wrap: wrap;
  }
}