* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLING */
.header-first,
.header-second,
.header-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.header-first {
  background-color: black;
  height: 30px;
}

.header-first ul,
.header-second ul {
  margin: 0 10px;
}

.header-first li,
.header-second li {
  display: inline;
  margin: 5px;
}

.header-first a,
.header-second ul li a {
  text-decoration: none;
  color: #a1a1a1;
}

.header-first a:hover {
  color: white;
}

.header-second ul li a:hover {
  color: black;
}

.header-second a {
  text-transform: uppercase;
}

.header-second {
  background-color: white;
  height: 50px;
}

.second-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 630px;
  height: 100%;
  padding-right: 5px;
}

.search-button {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid 1px #ededed;
  height: 100%;
}

.search-button a {
  color: #7e7e7e;
  font-size: 18px;
}

.search-button i {
  transform: scale(-1, 1);
}

.second-menu img {
  width: 100px;
}

.second-menu small {
  text-transform: uppercase;
}

.countdown {
  color: red;
  text-decoration: none;
}

.countdown span {
  font-size: 23px;
  margin: 5px;
}

.register-button {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #00cccc;
  border-radius: 5px;
}

.register-button:hover {
  background-color: #9900cc;
}

.alternative-second-menu {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-logo {
  display: none;
  height: 50px;
  padding: 15px;
  width: 90px;
  background-image: linear-gradient(to bottom right, #ce0196, #ff4422);
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
}

.toggle-bar {
  width: 60px;
  height: 100%;
  border-left: solid 1px #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.toggle-bar a {
  color: #ff4422;
}

.header-third {
  background-color: #ffdd33;
  font-size: 12px;
  padding: 7px 15px;
}

/* MAIN STYLING */

/* COVER STYLING */
.cover {
  display: grid;
  height: 450px;
  padding: 0 4px;
}

.first-cover {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  margin: 4px;
  position: relative;
}

.first-cover-element {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.first-cover-link,
.third-cover-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 95%;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.first-cover-link {
  justify-content: space-between;
}

.third-cover-link {
  justify-content: flex-end
}

.second-cover-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.cover-title {
  text-transform: uppercase;
}

.first-cover-title {
  font-size: 50px;
}

.first-cover-element small,
.third-cover-element small {
  display: block;
  position: absolute;
  bottom: 0;
  color: white;
  padding-left: 20px;
  padding-bottom: 2.5%;
}

.first-cover-element small a,
.third-cover-element small a {
  color: white;
  text-decoration: none;
  display: inline;
}

.first-cover-element img {
  width: 450px;
}

.first-cover-img {
  background-image: url('../img/liberty.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.second-cover {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 4px;
  position: relative;
}

.second-cover-element {
  position: absolute;
  color: white;
  display: flex;
  height: 100%;
}

.side-cover-title {
  font-size: 30px;
}

.second-cover-img {
  background-image: url('../img/blur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.third-cover {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  margin: 4px;
  position: relative;
}

.third-cover-element {
  background-image: url('../img/running.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.third-cover-img {
  background-image: url('../img/running.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

/* FIRST CONTAINER STYLING */
.first-container {
  display: flex;
  justify-content: center;
}

.small-first-container {
  width: 1300px;
  padding: 0 80px;
}

.container-header a {
  color: #ff4422;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}

.latest-news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest-news-box {
  display: flex;
  flex-wrap: wrap;
  width: 23.5%;
  margin: 20px 0;
}

.news-thumb {
  width: 100%;
  height: 60%;
}

.news-anchor {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block;
  font-size: 17px;
  margin: 5px 0;
}

.news-text {
  display: inline-block;
  color: #aaa;
}